* {
	border: none;
	border-radius: 8px;
	color: #C5C8C6;
	font-size: 22px;
	font-family: 'SF Pro'
}

#outer-box {
	border: 3px solid #FAA14F;
}

#window {
	background-color: rgba(43, 48, 59, 0.9);
}

#input {
	/* Hack to just inherit from ‘#window’ */
	background-color: rgba(0, 0, 0, 0);
	border-radius: 0;
	border-bottom: 3px solid #FAA14F;
}

#entry, #input {
	padding: .25em .5em;
}

#entry:selected {
	background-color: rgba(65, 72, 89, 0.9);
}
